---
import { getCollection, type CollectionEntry } from "astro:content"

export async function getStaticPaths() {
    const projects: CollectionEntry<"projects">[] = await getCollection("projects")
    return projects.map(project => ({
        params: { slug: project.slug }, 
        props: { project }
    }))
}

interface Props {
    project: CollectionEntry<"projects">
}

const { project } = Astro.props
const { Content } = await project.render()

import Layout from "../../Layout.astro"
---

<Layout title={project.data.title} desc={project.data.desc}>
    <div class="mx-3 mt-2 text-[#505050]">
        &lt;- <a href="/" class="hover:underline">home</a> / 
        <a href="/projects" class="hover:underline">projects</a> / {project.slug}
    </div>

    <h1 class="my-5 text-xl sm:text-2xl mx-auto w-fit max-w-[85vw] gap-x-2 flex text-center">
        {project.data.title}
    </h1>

    <div class="w-[500px] max-w-[80vw] mx-auto text-justify text-[#505050] space-y-5">
        <Content/>
        <hr class="border-[#505050]">
        <div class="flex justify-end space-x-3">
            { project.data.link ? <a href={project.data.link} target="_blank"><img src="/link.svg"/></a> : <></>}
            { project.data.github ? <a href={project.data.github} target="_blank"><img src="/github.svg"/></a> : <></>}
        </div>
    </div>
</Layout>